*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:oldlace;
}

/*HEADER STYLE*/
header{
    background-color: lightcyan;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logoContainer img{
    height: 15vh;
}

.logoContainer{
    flex: 0.9;
}

.navLinks ul{
    display: flex;
    margin-top: 30px;
    list-style: none;
}

.navLinks a:hover{
    background-color: rgb(165, 165, 165);
}

.navLinks a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
    color: rgb(82, 82, 82);
    border-radius: 4px;
}

.navLinks button{
    margin-left: 50px;
    margin-top: 5px;
    font-size: large;
    font-weight: bold;
    background: none;
    border: none;
    color: grey;
}

.navLinks a.selectedItem{
    background-color: rgb(96, 96, 255);
    color: white;
}

.covid-stats{
    text-align: center;
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
}

.covid-stats .deaths{
    color: red;
}

.covid-stats .recovered{
    color: green;
}

.covid-stats .cases{
    color: grey;
}

.pk-covid-stats{
    text-align: center;
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
}

.pk-covid-stats .deaths{
    color: red;
}

.pk-covid-stats .recovered{
    color: green;
}

.pk-covid-stats .cases{
    color: grey;
}

main{
    width: 90%;
    margin: auto;
}

.mainIntro{
    background-image: url(https://abdulhyie.github.io/database-project/web/imgs/worldmask.jpg);
    background-size: cover;
    align-items: center;
}

.intro{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}

.intro h1{
    font-size: 50px;
    color: oldlace;
    background-color: rgba(29, 29, 29, 0.5);
}

.intro p{
    margin-top: 10px;;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(29, 29, 29, 0.5);
    color: oldlace;
}

.mainIntro ul{
    margin-left: 37%;
    padding-bottom: 50px;
}

.mainIntro li{
    display: inline;
}

.mainIntro a{
    margin-left: 20px;
    padding: 10px 20px;
    background-color: tomato;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: rgb(82, 82, 82);
    color: whitesmoke;
}

.preventions{
    margin-left: 32.5%;
    padding-bottom: 120px;
}

.management{
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.management p{
    margin: 50px 10px 100px 10px;
    color: oldlace;
    font-weight: 30;
}

.management h2{
    margin-top: 10px;
    color: oldlace;
}

.management h3{
    color: mintcream;
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid oldlace;
    border-radius: 5px;
}

.management h3:hover{
    color: rgb(65, 65, 65);
    background-color: oldlace;
}

.isolationWards{
    background-color: #AEBFBF;
}

.quarantineCenters{
    background-color: #747F7F;
}

.patientsRecords{
    background-color: #3A4040;
}

/*PATIENT RECORD PAGE STYLE*/
.options{
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 20px;
}

.options h1{
    font-size: 200%;
    padding-top: 30px;
}

.buttons ul{
    margin-top: 70px;
    list-style: none;
    text-align: center;
}

.buttons li{
    margin-right: 30px;
    display: inline-block;
}


.add{
    padding: 20px 25px 20px 25px;
}

.update{
    padding: 20px 10px 20px 10px;
}

.search{
    padding: 20px 10px 20px 10px;
}

.delete{
    padding: 20px 10px 20px 10px;
    border: 3px solid red;
    text-decoration: none;
}

.add, .update, .search{
    border: 3px solid green;
    text-decoration: none;
}

.add:hover, .update:hover, .search:hover{
    background-color: green;
    color: white;
}

.delete:hover{
    background-color: red;
    color: white;
}

/*FORM STYLE*/

form{
    background-color: whitesmoke;
    align-items: center;
}

legend{
    margin-left: 45%;
    font-size: x-large;
    margin-bottom: 3%;
}

fieldset{
    padding-left: 30px;
}

.text-inputs label{
    padding-left: 10%;
}

.radio-inputs{
    text-align: left;
}

.radio-inputs label{
    font-weight: bold;
}

input[type=text]{
    padding: 12px 20px;
    margin: 8px 0 15px 0px;
    width: 210%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    background: none;
    outline: none;
}

input[type=text]:focus{
    border: 3px solid lightblue;
}

input[type=submit]{
    margin-left: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 12px 20px;
    border: 3px solid lightgreen;
}

input[type=submit]:hover{
    background-color: lightgreen;
    color: white;
}

.inputs{
    display: flex;
}

.text-inputs{
    margin-right: 30%;
}

.radio-inputs{
    padding-left: 150px;
    border-left: 3px solid rgb(53, 53, 53);
}

.search-inputs input{
    width: 80%;
}

.search-inputs{
    padding-left: 10%;
}

.delete-inputs{
    padding-left: 10%;
}

.delete-inputs input{
    width: 80%;
}

.delete-btn input[type=submit]{
    background-color: none;
    border: none;
    border: 3px solid red;
}

.delete-btn input[type=submit]:hover{
    background-color: red;
    color: white;
}

.login input[type=text], input[type=password]{
    width: 30%;
    padding: initial;
    padding: 10px 20px;
    border: initial;
    border-radius: 5px;
    background-color: lavender;
}

.login *{
    margin-left: 35%;
}

.login input[type=text]{
    margin-left: 35%;
}

.login label{
    margin: initial;
    padding: initial;
    margin-left: 45%;

}

/*FOOTER STYLE*/
footer{
    display: flex;
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: white;
}

.footerLeft img{
    height: 20vh;
    margin-left: 80px;
    margin-top: 60px;
    padding-right: 100px;
    border-right: 3px solid white;
}

.footerMid{
    margin: 50px 100px 30px 130px;
}

.footerMid a, ul{
    margin-bottom: 20px;
    text-decoration: none;
    list-style: none;
    color: wheat;
}

.footerRight{
    margin: 50px 100px 30px 140px;
}

.footerRight a, ul{
    text-decoration: none;
    list-style: none;
    padding-bottom: 20px;
    color: wheat;
}


.copyright{
    padding-left: 100px;
    background-color: rgb(27, 27, 27);
    color: white;
    padding-bottom: 20px;
}